{% extends 'core/base.html' %}
{% block title %}Crear Semestre{% endblock %}
{% block titlulo_pagina %}Crear Semestre{% endblock %}
{% load static %}
{% block atras %}
<a href="{% url 'semestre:list' %}" class="btn btn-info"> <span class="icon-arrow-left"></span>Atrás</a>

{% endblock atras %}
{% block content %}
<form role="form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
          <div class="col-md-12">
            <div class="card border-dark">
              <div class="card-body">
                <!-- nombre y apellido -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Nombre</label>
                      {{ form.nombre }}
                      <span class="error" style="color:red;">{{ form.nombre.errors }}</span>

                      <label class="control-label">Orden</label>
                      {{ form.orden }}
                      <span class="error" style="color:red;">{{ form.orden.errors }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN Cuerpo del modal -->
  <div class="modal-footer">
    <div class="col-lg-12 text-right">
      <button type="submit" class="btn btn-success"> <i class="fa fa-check "></i> Guardar</button>
      <a class="btn btn-danger" href="{% url 'semestre:list' %}">Cancelar</a>
    </div>
  </div>
</form>
{% endblock %}
