

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Crear semestre</h3>
            <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">

            <form role="form" action="{% url 'semestre:create' %}"  method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="col-md-12">
                <div class="panel panel-info">
                  <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                      <div class="col-md-12">
                        <div class="card border-dark">
                          <div class="card-body">
                            <!-- nombre y apellido -->
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label class="control-label">Nombre</label>
                                  {{ form.nombre }}
                                  {{ form.nombre.errors }}
                                  <span class="error" style="color:red;">{{ form.nombre.errors }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FIN Cuerpo del modal -->
              <div class="modal-footer">
                <div class="col-lg-12 text-right">
                  <button type="submit" class="btn btn-success"> <i class="fa fa-check "></i> Guardar</button>
                  <a class="btn btn-danger" href="{% url 'semestre:list' %}">Cancelar</a>
                </div>
              </div>
            </form>


        </div>
        <div class="modal-footer">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-primary" onclick="return cerrar_modal()">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
