{% extends 'core/base.html' %}
{% block title %}Lista de caracterizaciones{% endblock %}

{% block titlulo_pagina %}Lista de caracterizaciones {% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'core/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if mensaje == 1%}

        <div class="card bg-danger p-3 text-white "> <span> <h5> Uno o más estudiantes de los seleccionados ya tienen una caracterización
            asociada al semestre seleccionado. por favor intentelo de nuevo o realícelo de forma manual 
            <a class="text-white font-weight-bold" href="{% url 'estudiante:list' 0 %}"><abbr title="Listado de estudiantes">aquí</abbr></a> </h5></span></div>
        {% endif %}

        {% if mensaje == 2%}
        <div class="card bg-danger p-3 text-white"> <span> <h5>Por favor seleccione al menos un estudiante</h5></span></div>

{% endif %}


<form action="" method="POST" id="masivo">{% csrf_token %}
    <div class="card">
        <div class="card-header bg-info">
            <h4 class="m-b-0 text-white">Datos para caracterización masiva</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for=""><b>Semestre</b></label>
                        <select name="semestreid" class="form-control">
                            {% for obj in semestres %}
                            <option value="{{ obj.id }}">{{ obj.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for=""><b>Tipo</b></label>
                        <select name="tipoid" class="form-control">
                            {% for obj in tipos %}
                            <option value="{{ obj.id }}">{{ obj.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for=""><b>Nivelado</b></label>
                        <select name="nivelado" class="form-control">
                            <option value="1">Sí</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for=""><b>Descripción</b></label>
                        <input type="text" name="descripcion" class="form-control">
                    </div>
                </div>
            </div>

            <button class="btn btn-success" type="submit" name="btn_caracterizacion" value="Guardar">Guardar</button>
        </div>
    </div>

</form>



<div class="card">
    <div class="card-header bg-info">
        <h4 class="m-b-0 text-white">Selección de estudiantes</h4>
    </div>
    <div class="card-body">

        <form method="get">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <label for=""><b>Género</b></label>
                    {{ filter.form.genero }}
                </div>
                <div class="col-lg-3 col-md-12">
                    <label for=""><b>Semestre de inicio</b></label>
                    {{ filter.form.semestre_inicio }}
                </div>
                <div class="col-lg-3 col-md-12">
                    <label for=""><b>Programa</b></label>
                    {{ filter.form.programa }}
                </div>
                <div class="col-lg-3 col-md-12">
                    <label for=""><b>Estado</b></label>
                    {{ filter.form.estado }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12 mt-3">
                    <button class="btn btn-info btn-block" type="submit">Filtrar</button>
                </div>
                <div class="col-lg-3 col-md-12 mt-3">
                    <a class="btn btn-warning btn-block" href="{% url 'caracterizacion:masivo' %}">Limpiar filtros</a>
                </div>
            </div>

        </form>

        <table class="table table-bordered table-condensed mt-3">
            <thead>
                <tr>
                    <th class="font-weight-bold"> <b> <i class="mdi mdi-check "></i> </b> </th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Semestre inicio</th>
                    <th>Programa</th>
                    <th>Estado</th>
                    <th>Género</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in filter.qs %}
                <tr>
                    <td>
                        <input type="checkbox" name="ids" form="masivo" class="form-control" value="{{estudiante.id}}">

                    </td>
                    <td><b>{{estudiante.nombre}} {{estudiante.apellido}}</b> </td>
                    <td><b>{{estudiante.documento}}</b> </td>
                    <td><b>{{estudiante.semestre_inicio}}</b> </td>
                    <td><b>{{estudiante.programa}}</b></td>
                    <td>
                        {% if estudiante.estado == 0 %}
                        <span class="label label-success label-rouded">Activo</span>
                        {% elif estudiante.estado == 1 %}
                        <span class="label label-danger label-rouded">Inactivo</span>
                        {% elif estudiante.estado == 2 %}
                        <span class="label label-warning  label-rouded">Egresado</span>
                        {% elif estudiante.estado == 3 %}
                        <span class="label label-info label-rouded">Graduado</span>
                        {% endif %}

                    </td>
                    <td><b>{{estudiante.genero}}</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




<div id="popup" class="modal fade" role="dialog">

</div>

{% endblock %}
{% block scripts %}
<script>
    function abrir_modal(url) {
        $('#popup').load(url, function () {
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal() {
        $('#popup').modal('hide');
        return false;
    }

</script>
{% endblock %}