{% extends 'core/base.html' %}
{% block title %}Lista de caracterizaciones{% endblock %}

{% block titlulo_pagina %}Lista de caracterizaciones {% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'core/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}
{% block atras %}
<a href="{% url 'caracterizacion:masivo' %}" class="btn btn-info d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Crear
    caracterización masiva</a>
{% endblock atras %}
{% block content %}

<div class="card">
    <div class="card-body">

        <div class="table-responsive ">

            <table id="myTable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Estudiatne</th>
                        <th>semestre</th>
                        <th>Tipo</th>
                        <th>Nivelado</th>
                        <th>Created</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in caracterizacion_list %}
                    <tr>
                        <td>
                            <a href="{% url 'caracterizacion_estudiante:list' obj.estudiante.id %}"><b>{{obj.estudiante}}</b></a>
                        </td>
                        <td><b>{{obj.semestre}}</b></td>
                        <td>
                            <b>{{obj.tipo}}</b>
                        </td>
                        <td>
                            {% if obj.nivelado == 1 %}
                            Sí
                            {% else %}
                            No
                            {% endif %}
                        </td>
                        <td><b>{{obj.created}}</b></td>

                        <td class="text-center" WIDTH="50">
                            <div class="row">
                                <a style="color:royalblue" href="{% url 'caracterizacion_estudiante:update' obj.estudiante.id obj.id %}" class="btn">
                                    <span class="icon-pencil font-weight-bold" data-toggle="tooltip"
                                        data-original-title="Editar"></span>
                                </a>
                                <a style="color:crimson" onclick="return abrir_modal('{% url 'caracterizacion:delete' obj.id  %}')"
                                    class="btn">
                                    <span class="icon-close font-weight-bold" data-toggle="tooltip" data-original-title="Eliminar"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="popup" class="modal fade" role="dialog">

</div>

{% endblock %}
{% block scripts %}
<script>
    $(function () {
        $('#myTable').DataTable({
            "columnDefs": [
                { "type": "date-dd-MMM-yyyy", targets: 5 }
            ]
        } );
    });
    //    $('#example23').DataTable({
    //        dom: 'Bfrtip',
    //        buttons: [
    //            'copy', 'csv', 'excel', 'pdf', 'print'
    //       ]
    //   });
    $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
</script>
<script src="{% static 'core/assets/node_modules/datatables/datatables.min.js' %}"></script>
<script>
    function abrir_modal(url) {
        $('#popup').load(url, function () {
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal() {
        $('#popup').modal('hide');
        return false;
    }

    $(document).ready(function () {
        var table = $('#tabla').dataTable({
            "language": {
                url: "/static/localizacion/es_ES.json"
            }
        });
    });
</script>
{% endblock %}