{% extends 'core/base.html' %}
{% block title %}Caracterizaciones{% endblock %}
{% block titlulo_pagina %}Lista de caracterizaciones de <b class="font-weight-bold">{{estudiante.nombre}}
    {{estudiante.apellido}}

  {{ estudiante.can_c }}</b>{% endblock %}
{% load static %}
{% block css %}
{% endblock %}
{% block atras %}
<a href="{% url 'estudiante:list' 0 %}" class="btn btn-info"> <span class="icon-arrow-left"></span>Atrás</a>

{% endblock atras %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="row">
                    <form action="" method="POST">{% csrf_token %}

                        <div class="input-group mb-3">
                            {{ form.estado }}
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-warning">Atualizar estado</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Semestre</th>
                                            <th>Tipo caracterizacion</th>
                                            <th>Nivelado</th>
                                            <th>Descripción</th>
                                            <th>Created</th>
                                            <th>Usuario</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for caracterizacion in caracterizaciones %}
                                        <tr>
                                            <td>{{ caracterizacion.semestre }}</td>
                                            <td>{{ caracterizacion.tipo }}</td>
                                            <td>
                                                {% if caracterizacion.nivelado == 1 %}
                                                Sí
                                                {% else %}
                                                No
                                                {% endif %}
                                            </td>
                                            <td>{{ caracterizacion.descripcion }}</td>
                                            <td>{{ caracterizacion.created |date:"SHORT_DATE_FORMAT" }}</td>
                                            <td>{{ caracterizacion.usuario }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'caracterizacion_estudiante:update' estudiante.id caracterizacion.id %}"
                                                    class="btn">
                                                    <span style="color:dodgerblue" data-toggle="tooltip"
                                                        data-original-title="Editar" class="icon-pencil font-weight-bold"></span>
                                                </a>

                                                <a style="color:crimson" onclick="return abrir_modal('{% url 'caracterizacion_estudiante:delete' caracterizacion.id  %}')"
                                                    class="btn">
                                                    <span class="icon-close font-weight-bold" data-toggle="tooltip"
                                                        data-original-title="Eliminar"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>


                                <div class="button-box">
                                    <a href="{% url 'caracterizacion_estudiante:create' estudiante.id %}" class="btn btn-info d-lg-block m-l-15"><i
                                            class="fa fa-plus-circle"></i> Añadir caracterización</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="popup" class="modal fade" role="dialog">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function abrir_modal(url) {
        $('#popup').load(url, function () {
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal() {
        $('#popup').modal('hide');
        return false;
    }

    $(document).ready(function () {
        var table = $('#tabla').dataTable({
            "language": {
                url: "/static/localizacion/es_ES.json"
            }
        });
    });
</script>
{% endblock %}
