{% extends 'core/base.html' %}
{% block title %}Añadir caracterizacion{% endblock %}
{% block titlulo_pagina %}Añadir caracterizacion a <b>{{ estudiante.nombre }}</b>{% endblock %}
{% load static %}
{% block atras %}
<a href="{% url 'caracterizacion_estudiante:list' estudiante.id %}" class="btn btn-info"> <span class="icon-arrow-left"></span>Atrás</a>

{% endblock atras %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body"> 

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <b>{{form.semestre.label}}</b>

          {{form.semestre}}

          <b>{{form.tipo.label}}</b>
          {{form.tipo}}
          <b>{{form.nivelado.label}}</b>
          {{form.nivelado}}
          <b>{{form.descripcion.label}}</b>
          {{form.descripcion}}
          {{form.estudiante.as_hidden}}
          {{form.usuario.as_hidden}}

          <br>
          <input class="btn btn-success" type="submit" name="submit" value="Guardar">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}

{% endblock %}
