{% extends 'core/base.html' %}
{% load static %}
{% block title %}Principal{% endblock %}
{% block titlulo_pagina %}Principal{% endblock %}

{% block css %}
<!-- CSS para graficas de torta barras y lina  -->

<link href="{% static 'core/assets/node_modules/morrisjs/morris.css' %}" rel="stylesheet">

<!-- CSS para graficas pequeñas de arriba  -->
<link href="{% static 'core/assets/node_modules/css-chart/css-chart.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="m-b-0 text-white">Estudiantes</h4>
            </div>
            <div class="card-body">
                <a href="{% url 'estudiante:list' 0 %}" class="btn btn-block btn-warning">Listar</a>
                <a href="{% url 'estudiante:create' %}" class="btn btn-block btn-success">Crear</a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="m-b-0 text-white">Reportes</h4>
            </div>
            <div class="card-body">
                <a href="{% url 'reporte:principal' %}" class="btn btn-block btn-warning">Reporte</a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="m-b-0 text-white">Caracterizaciones</h4>
            </div>
            <div class="card-body">
                <a href="{% url 'caracterizacion:list' %}" class="btn btn-block btn-warning">Listar</a>
                <a href="{% url 'caracterizacion:masivo' %}" class="btn btn-block btn-success">Crear caracterización
                    masiva</a>
            </div>
        </div>
    </div>
    <!-- Column -->

</div>

{% if request.user.is_superuser %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-danger">
                <h4 class="m-b-0 text-white">Administrador</h4>
            </div>
            <div class="card-body">
                <div class="row button-group">
                    <div class="col-lg-3 col-md-3">
                        <a href="{% url 'semestre:list' %}" class="btn btn-block btn-info">Semestres</a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <a href="{% url 'genero:list' %}" class="btn btn-block btn-info">Generos</a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <a href="{% url 'programa:list' %}" class="btn btn-block btn-info">Programas</a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <a href="{% url 'tipo_caracterizacion:list' %}" class="btn btn-block btn-info">Tipos de
                            caracterizaciones</a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <a href="/admin/auth/user/" class="btn btn-block btn-info">Usuarios</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->

{% endblock %}
{% block scripts %}
{% endblock scripts %}