{% extends 'core/base.html' %}
{% load static %}
{% block title %}Reportes{% endblock %}
{% block titlulo_pagina %}Reportes{% endblock %}
{% block css %}

<link href="{% static 'core/assets/node_modules/morrisjs/morris.css' %}" rel="stylesheet">

<link href="{% static 'core/assets/node_modules/css-chart/css-chart.css' %}" rel="stylesheet">

<link href="{% static 'core/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css' %}" rel="stylesheet">

{% endblock %}
{% block atras %}

{% endblock atras %}
{% block content %}
<!-- Formulario de filtro -->
<div class="card">
    <div class="card-body">
        <form method="POST">{% csrf_token %}
            <div class="row mb-3">
                <div class="col-lg-3 col-md-12">
                    <label for=""><b>Género</b></label>
                    {{ form.genero }}
                </div>
                <div class="col-lg-3 col-md-12">
                    <label for=""><b>Semestre de inicio</b></label>
                    {{ form.semestre }}
                </div>
                <div class="col-lg-3 col-md-12">
                    <label for=""><b>Programa</b></label>
                    {{ form.programa }}
                </div>
                <div class="col-lg-3 col-md-12">
                    <label for=""><b>Estado</b></label>
                    {{ form.estado }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <label for=""><b>Tipo de caracterización</b></label>
                    {{ form.tipo }}
                </div>
                <div class="col-lg-3 col-md-12">
                    <label for=""><b>Nivelado</b></label>
                    {{ form.nivelado }}
                </div>

                <div class="col-lg-3 col-md-12 mt-4">
                    <button class="btn btn-success btn-block" type="submit">Filtrar</button>

                    <a class="btn btn-warning btn-block" href="{% url 'reporte:principal' %}">Limpiar filtros</a>
                </div>
            </div>
            <div class="row">

            </div>

        </form>

    </div>
</div>
<!-- Tabla de resultados -->
<div class="card">
    <div class="card-body">

        <div class="table-responsive ">

            <table id="example23" class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Programa</th>
                        <th>Estado</th>
                        <th>Semestre de inicio</th>
                        <th>Última Caracterización</th>
                        <th>Nivelado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for estudiante in estudiantes %}
                    <tr>
                        <td>
                            <b>{{estudiante.nombre}} {{estudiante.apellido}}</b>
                        </td>
                        <td>{{estudiante.documento}}</td>
                        <td><b>{{estudiante.programa}}</b></td>
                        <td>
                            {% if estudiante.estado == 0 %}
                            <span class="label label-success label-rouded">Activo</span>
                            {% elif estudiante.estado == 1 %}
                            <span class="label label-danger label-rouded">Inactivo</span>
                            {% elif estudiante.estado == 2 %}
                            <span class="label label-warning  label-rouded">Egresado</span>
                            {% elif estudiante.estado == 3 %}
                            <span class="label label-info label-rouded">Graduado</span>
                            {% endif %}

                        </td>
                        <td>{{estudiante.semestre_inicio}}</td>
                        <td>{{estudiante.ultimo_semestre}} - {{estudiante.tipo}}</td>
                        <td>
                            {% if estudiante.nivelado == 1 %}
                            <span class="label label-success label-rouded">Sí</span>
                            {% else %}
                            <span class="label label-danger label-rouded">No</span>
                            {% endif %}

                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Zona de graficas -->
<div class="card">
    <div class="card-header bg-danger">
        <h4 class="m-b-0 text-white">Gráficas</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Estudiantes por estado</h4>
                        <div id="torta_estado"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Estudiantes por tipo de caracterización</h4>
                        <div id="torta_caracterizacion"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup" class="modal fade" role="dialog"></div>
{% endblock %}

{% block scripts %}
<script src="{% static 'core/dist/js/custom.min.js' %}"></script>

<script src="{% static 'core/assets/node_modules/morrisjs/morris.js' %}"></script>
<script src="{% static 'core/assets/node_modules/raphael/raphael-min.js' %}"></script>

<script src="{% static 'core/assets/node_modules/datatables/datatables.min.js' %}"></script>
<script src="{% static 'core/dist/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'core/dist/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'core/dist/js/jszip.min.js' %}"></script>
<script src="{% static 'core/dist/js/pdfmake.min.js' %}"></script>
<script src="{% static 'core/dist/js/vfs_fonts.js' %}"></script>
<script src="{% static 'core/dist/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'core/dist/js/buttons.print.min.js' %}"></script>
<script src="{% static 'core/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

<script>
    $(function () {
        "use strict";
        Morris.Donut({
            element: 'torta_caracterizacion',
            data: [
            {%  for e in grafica_barras  %}

            {
                label: "{{e.nombre}}",
                value: {{ e.cantidad }}
            },
            {% endfor %}
            ],
        resize: true,
        colors: ['#E46A76', '#00C292', '#009efb', '#FEC107', '#C106FE', '#FE0643', '#00D8D8', '#E3D869']
              });
            });
</script>
<script>
    $(function () {
        "use strict";
        Morris.Donut({
            element: 'torta_estado',
            data: [
                {
                    label: "Inactivos",
                    value: {{ inactivos }}
                },
                {
                    label: "Activos",
                    value: {{ activos }}
                },
                {
                    label: "Graduados",
                    value: {{ graduados }}
                },
                {
                    label: "Egresados",
                    value: {{ egresados }}
                },
            ],
        resize: true,
        colors: ['#E46A76', '#00C292', '#009efb', '#FEC107']
              });
            });
</script>

<script>
    //$(function () {
    //    $('#myTable').DataTable();
    //});

    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
</script>
<script>
    function abrir_modal(url) {
        $('#popup').load(url, function () {
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal() {
        $('#popup').modal('hide');
        return false;
    }

    $(document).ready(function () {
        var table = $('#tabla').dataTable({
            "language": {
                url: "/static/localizacion/es_ES.json"
            }
        });
    });
</script>



{% endblock %}