{% extends 'core/base.html' %}
{% block title %}Lista de estudiantes{% endblock %}

{% block titlulo_pagina %}Lista de estudiantes {% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'core/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
<link href="{% static 'core/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet"
    type="text/css" />
{% endblock %}
{% block atras %}

<div class="btn-group">

    <a href="{% url 'estudiante:list' 1 %}" class="btn btn-warning" ><i class="fa fa-eye"></i> Ver todos</a> 
</div>

<div class="btn-group">

    <a href="{% url 'estudiante:create' %}" class="btn btn-info" style="margin: 10px"><i class="fa fa-plus-circle"></i> Crear estudiante</a> 
</div>

<div class="btn-group">

    <a href="{% url 'caracterizacion:masivo' %}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Crear caracterizacion Masiva</a>
</div>
{% endblock atras %}
{% block content %}

<div class="card">
    <div class="card-body">

        <div class="table-responsive ">

            <table id="myTable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Programa</th>
                        <th>Estado</th>
                        <th>Semestre de inicio</th>
                        <th>Caracterizaciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for estudiante in estudiante_list %}
                    <tr>
                        <td>
                            <b>{{estudiante.nombre}} {{estudiante.apellido}}</b>
                        </td>
                        <td>{{estudiante.documento}}</td>
                        <td><b>{{estudiante.programa}}</b></td>
                        <td>
                            {% if estudiante.estado == 0 %}
                            <span class="label label-success label-rouded">Activo</span>
                            {% elif estudiante.estado == 1 %}
                            <span class="label label-danger label-rouded">Inactivo</span>
                            {% elif estudiante.estado == 2 %}
                            <span class="label label-warning  label-rouded">Egresado</span>
                            {% elif estudiante.estado == 3 %}
                            <span class="label label-info label-rouded">Graduado</span>
                            {% endif %}

                        </td>
                        <td>{{estudiante.semestre_inicio}}</td>
                        <td><a href="{% url 'caracterizacion_estudiante:list' estudiante.id %}" class="btn btn-block btn-success">
                                {{estudiante.caracterizacion_set.count}}</a>
                        </td>
                        <td class="text-center">
                            <div class="row">
                                <a onclick="return abrir_modal('{% url 'estudiante:detail' estudiante.id  %}')" class="btn">
                                    <span class="icon-eye font-weight-bold" data-toggle="tooltip" data-original-title="Ver"></span>
                                </a> <a style="color:rgb(2, 167, 196)" href="{% url 'estudiante:update' estudiante.id  %}"
                                    class="btn">
                                    <span class="icon-pencil font-weight-bold" data-toggle="tooltip"
                                        data-original-title="Editar"></span>
                                </a>
                                </a> <a style="color:crimson" onclick="return abrir_modal('{% url 'estudiante:delete' estudiante.id  %}')"
                                    class="btn">
                                    <span class="icon-close font-weight-bold" data-toggle="tooltip" data-original-title="Eliminar"></span>
                                </a>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="popup" class="modal fade" role="dialog"></div>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('#myTable').DataTable();
    });
    //    $('#example23').DataTable({
    //        dom: 'Bfrtip',
    //        buttons: [
    //            'copy', 'csv', 'excel', 'pdf', 'print'
    //       ]
    //   });
    $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
</script>
<script src="{% static 'core/assets/node_modules/datatables/datatables.min.js' %}"></script>
<script>
    function abrir_modal(url) {
        $('#popup').load(url, function () {
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal() {
        $('#popup').modal('hide');
        return false;
    }

    $(document).ready(function () {
        var table = $('#tabla').dataTable({
            "language": {
                url: "/static/localizacion/es_ES.json"
            }
        });
    });
</script>
<script src="{% static 'core/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
{% endblock %}