{% extends 'core/base.html' %}
{% block title %}Crear estudiante{% endblock %}
{% block titlulo_pagina %}Crear estudiante{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'core/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet"
  type="text/css" />
{% endblock %}
{% block atras %}
<a href="{% url 'estudiante:list' 0 %}" class="btn btn-info d-lg-block m-l-15"><i class="fa fa-list"></i> Lista</a>
{% endblock atras %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">


        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                  <!-- nombre y apellido -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Nombre</label>
                        {{ form.estudiante.nombre }}
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Apellido</label>
                        {{ form.estudiante.apellido }}
                      </div>
                    </div>
                  </div>
                  <!-- FIN nombre y apellido -->

                  <!-- genero y fecha de nacimiento-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Genero</label>
                        {{ form.estudiante.genero }}
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group data-date-format=" dd-mm-yyyy"">
                        <label class="control-label">Fecha de nacimiento</label>
                        {{ form.estudiante.fecha_nacimiento }}
                        <span class="error" style="color:red;">{{ form.estudiante.fecha_nacimiento.errors }}</span>
                      </div>
                    </div>
                  </div>
                  <!-- FIN genero y fecha de nacimiento-->

                  <!--Tipo de documento y numero de docuemento-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Tipo de documento</label>
                        {{ form.estudiante.tipo_documento }}
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Número de documento</label>
                        {{ form.estudiante.documento }}
                        <span class="error" style="color:red;">{{ form.estudiante.documento.errors }}</span>
                      </div>
                    </div>
                  </div>
                  <!--FIN Tipo de documento y numero de docuemento-->

                  <!--Foto-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Foto</label>
                        {{ form.estudiante.foto }}
                      </div>
                    </div>
                    <!--FIN Foto-->

                  </div>
                </div>
              </div>
            </div>

            <!-- Seccion de informacion de contacto -->
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-info">
                  <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                      <div class="form-body">

                        <!--  direccion y email-->
                        <div class="row">
                          <div class="col-md-6 ">
                            <div class="form-group">
                              <label>Dirección</label>
                              {{ form.estudiante.direccion }}
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label">Email</label>
                              {{ form.estudiante.email }}
                              <span class="error" style="color:red;">{{ form.estudiante.email.errors }}</span>

                            </div>
                          </div>
                        </div>
                        <!--FIN  direccion y email-->

                        <!-- celular y telefono-->
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Celular</label>
                              {{ form.estudiante.celular }}
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Telefono</label>
                              {{ form.estudiante.telefono }}
                            </div>
                          </div>
                        </div>
                        <!--FIN  celular y telefono-->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin seccion de contacto -->

            <!-- Sección de caracterizacion -->
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-info">
                  <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                      <div class="form-body">

                        <!--  direccion y email-->
                        <div class="row">
                          <div class="col-md-6 ">
                            <div class="form-group">
                              <label>semestre inicio</label>
                              {{ form.caracterizacion.semestre }}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Programa</label>
                              {{ form.estudiante.programa }}
                            </div>
                          </div>
                        </div>
                        <!--FIN  direccion y email-->

                        <!-- celular y telefono-->
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Descripcion</label>
                              {{ form.caracterizacion.descripcion }}
                            </div>
                          </div>
                        </div>
                        <!--FIN  celular y telefono-->

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="form-actions">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-check "></i> Guardar</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- FIN Sección de caracterizacion -->
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'core/assets/node_modules/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
<script src="{% static 'core/dist/js/pages/mask.init.js' %}"></script>

{% endblock %}