{% extends 'core/base.html' %}
{% block title %}Crear estudiante{% endblock %}
{% block titlulo_pagina %}Crear estudiante{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'core/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet"
  type="text/css" />
{% endblock %}
{% block atras %}
<a href="{% url 'estudiante:list' 0 %}" class="btn btn-info d-lg-block m-l-15"><i class="fa fa-list"></i> Lista</a>
{% endblock atras %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                  <!-- nombre y apellido -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Nombre</label>
                        {{ form.nombre }}
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Apellido</label>
                        {{ form.apellido }}
                      </div>
                    </div>
                  </div>
                  <!-- FIN nombre y apellido -->

                  <!-- genero y fecha de nacimiento-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Genero</label>
                        {{ form.genero }}
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group data-date-format=" dd-mm-yyyy"">
                        <label class="control-label">Fecha de nacimiento</label>
                        {{ form.fecha_nacimiento }}
                        <span class="error" style="color:red;">{{ form.fecha_nacimiento.errors }}</span>
                      </div>
                    </div>
                  </div>
                  <!-- FIN genero y fecha de nacimiento-->

                  <!--Tipo de documento y numero de docuemento-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Tipo de documento</label>
                        {{ form.tipo_documento }}
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Número de documento</label>
                        {{ form.documento }}
                        <span class="error" style="color:red;">{{ form.documento.errors }}</span>
                      </div>
                    </div>
                  </div>
                  <!--FIN Tipo de documento y numero de docuemento-->

                  <!--Foto-->

                </div>
              </div>
            </div>

            <!-- Seccion de informacion de contacto -->
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-info">
                  <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                      <div class="form-body">

                        <!--  direccion y email-->
                        <div class="row">
                          <div class="col-md-6 ">
                            <div class="form-group">
                              <label>Dirección</label>
                              {{ form.direccion }}
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label">Email</label>
                              {{ form.email }}
                              <span class="error" style="color:red;">{{ form.email.errors }}</span>
                            </div>
                          </div>
                        </div>
                        <!--FIN  direccion y email-->

                        <!-- celular y telefono-->
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Celular</label>
                              {{ form.celular }}
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Telefono</label>
                              {{ form.telefono }}
                            </div>
                          </div>
                        </div>
                        <!--FIN  celular y telefono-->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin seccion de contacto -->

            <!-- Sección de caracterizacion -->
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-info">
                  <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                      <div class="form-body">

                        <!--  direccion y email-->
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Programa</label>
                              {{ form.programa }}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Estado</label>
                              {{ form.estado }}
                            </div>
                          </div>
                        </div>
                        <!--FIN  direccion y email-->
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label">Foto</label>
                              {{ form.foto }}
                            </div>
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="form-actions">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-check "></i> Actualizar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- {{ form.as_p }} -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- FIN Sección de caracterizacion -->
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'core/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript">
  jQuery('.mydatepicker, #datepicker').datepicker({
    autoclose: true,
    format: 'dd/mm/yyyy',
    todayHighlight: true,
    buttonClasses: ['btn', 'btn-sm'],
    applyClass: 'btn-danger',
    cancelClass: 'btn-inverse'
  });
</script>
{% endblock %}