{% load static%}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Detalle estudiante</h3>
      <button type="button" class="close" data-dismiss="modal">X</button>
    </div>
    <div class="modal-body">
      <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
          <div class="card">
            <div class="card-body">
              <center>
                {% if estudiante.estado == 0 %}
                <span class="label label-success label-rouded"><h5>Activo</h5></span>
                {% elif estudiante.estado == 1 %}
                <span class="label label-danger label-rouded"><h5>Inactivo</h5></span>
                {% elif estudiante.estado == 2 %}
                <span class="label label-warning  label-rouded"><h5>Egresado</h5></span>
                {% elif estudiante.estado == 3 %}
                <span class="label label-info label-rouded"><h5>Graduado</h5></span>
                {% endif %}
                <hr>
                {% if estudiante.foto %}
                <img src="{{estudiante.foto.url}}" class="img-circle" width="150" />
                {% else %}
                <img src="{% static 'core/assets/images/no-avatar.jpg' %}" class="img-circle" width="150" />
                {% endif %}
                <h4 class="card-title m-t-10">{{ estudiante.nombre }}</h4>
                <h6 class="card-subtitle">{{ estudiante.programa }}</h6>
                <h6 class="card-subtitle">Semestre inicio: {{ estudiante.semestre_inicio }}</h6>
              </center>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
          <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
              <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#profile" role="tab">Perfil</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <!--second tab-->
              <div class="tab-pane active" id="profile" role="tabpanel">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 col-xs-6 b-r"> <strong>Nombre completo</strong>
                      <br>
                      <p class="text-muted">{{ estudiante.nombre }} {{ estudiante.apellido }}</p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r"> <strong>{{ estudiante.get_tipo_documento }}</strong>
                      <br>
                      <p class="text-muted">{{ estudiante.documento }}</p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r"> <strong>Fecha de nacimineto</strong>
                      <br>
                      <p class="text-muted">{{ estudiante.fecha_nacimiento }} - XX años</p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r"> <strong>Celular</strong>
                      <br>
                      <p class="text-muted">{{ estudiante.celular }}</p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r"> <strong>Telefono</strong>
                      <br>
                      <p class="text-muted">{{ estudiante.telefono }}</p>
                    </div>
                    <div class="col-md-4 col-xs-6 b-r"> <strong>Email</strong>
                      <br>
                      <p class="text-muted"><a href="mailto:{{ estudiante.email }}">{{ estudiante.email }}</a></p>
                    </div>
                    <div class="col-md-4 col-xs-6"> <strong>Dirección</strong>
                      <br>
                      <p class="text-muted">{{ estudiante.direccion }}</p>
                    </div>
                  </div>
                  <hr>
                  <a href="{% url 'caracterizacion_estudiante:list' estudiante.id %}" class="btn btn-block btn-success">
                      Ver {{estudiante.caracterizacion_set.count}} caracterizaciones</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-lg-12 text-right">
        <a href="{% url 'estudiante:update' estudiante.id %}" class="btn btn-info">Editar</a>
        <button type="button" class="btn btn-primary" onclick="return cerrar_modal()">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>