{% extends 'core/base.html' %}
{% block title %}Lista de géneros{% endblock %}

{% block titlulo_pagina %}Lista de géneros {% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'core/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}
{% block atras %}
    <a href="{% url 'genero:create' %}"  class="btn btn-info d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Crear género</a>
{% endblock atras %}
{% block content %}

<div class="card">
    <div class="card-body">

        <div class="table-responsive ">

            <table id="myTable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in genero_list %}
                    <tr>
                        <td>
                            <b>{{obj.id}}</b>
                        </td>
                        <td>
                            <b>{{obj.nombre}}</b>
                        </td>
                        <td class="text-center" WIDTH="50">
                            <div class="row">
                                <a style="color:royalblue" href="{% url 'genero:update' obj.id %}" class="btn">
                                    <span class="icon-pencil font-weight-bold" data-toggle="tooltip" data-original-title="Editar"></span>
                                </a>
                                <a style="color:crimson" onclick="return abrir_modal('{% url 'genero:delete' obj.id  %}')"
                                    class="btn">
                                    <span class="icon-close font-weight-bold" data-toggle="tooltip" data-original-title="Eliminar"></span>
                                </a>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="popup" class="modal fade" role="dialog">

</div>

{% endblock %}
{% block scripts %}
<script>
    $(function () {
        $('#myTable').DataTable();
        $(function () {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    //    $('#example23').DataTable({
    //        dom: 'Bfrtip',
    //        buttons: [
    //            'copy', 'csv', 'excel', 'pdf', 'print'
    //       ]
    //   });
    $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
</script>
<script src="{% static 'core/assets/node_modules/datatables/datatables.min.js' %}"></script>
<script>
    function abrir_modal(url) {
        $('#popup').load(url, function () {
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal() {
        $('#popup').modal('hide');
        return false;
    }

    $(document).ready(function () {
        var table = $('#tabla').dataTable({
            "language": {
                url: "/static/localizacion/es_ES.json"
            }
        });
    });
</script>
{% endblock %}