<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Eliminar semestre</h3>
            <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
            <form  role="form" action="{% url 'genero:delete' object.id %}" method="post">{% csrf_token %}
                <p>¿Estás seguro de que quieres eliminar el genero <b  class="font-weight-bold">"{{ object }}"</b>?</p>
                <p>Si elimina este genero tambien se eliminaran todos los estudiantes asociados a este genero.</p>
                <input type="submit" class="btn btn-danger btn-block" value="Sí, Borrar" />
            </form>
        </div>
        <div class="modal-footer">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-primary" onclick="return cerrar_modal()">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>