{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/assets/images/favicon.png' %}">
  <title>Iniciar sesión</title>

  <!-- page css -->
  <link href="{% static 'core/dist/css/pages/login-register-lock.css' %}" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="{% static 'core/dist/css/style.min.css' %}" rel="stylesheet">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-default card-no-border">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="loader">
      <div class="loader__figure"></div>
      <p class="loader__label">Unidades Tecnológicas de Santander</p>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  {% if request.user.is_authenticated %}
    <script>window.location.href = '{% url 'core:index' %}'; </script>
  {% endif %}
  <section id="wrapper">
    <div class="login-register" style="background-image:url({% static 'core/assets/images/background/login-register.jpg' %});">
      <div class="login-box card">
        <div class="card-body">
          <form class="form-horizontal form-material"  action="" method="post">{% csrf_token %}
            <h3 class="text-center m-b-20">Iniciar sesión</h3>
            {% if form.non_field_errors %}
            <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
          {% endif %}
            <div class="form-group ">
              <div class="col-xs-12">
                <input name="username" class="form-control" type="text" required placeholder="Nombre de usuario" id="id_username"> </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input name="password" class="form-control" type="password" required id="id_password" placeholder="Password"> </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="d-flex no-block align-items-center">
                  <div class="ml-auto">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Acceder</button>
              </div>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </section>

  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="{% static 'core/assets/node_modules/jquery/jquery-3.2.1.min.js' %}"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="{% static 'core/assets/node_modules/popper/popper.min.js' %}"></script>
  <script src="{% static 'core/assets/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <!--Custom JavaScript -->
  <script type="text/javascript">
    $(function () {
      $(".preloader").fadeOut();
    });
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    // ============================================================== 
    // Login and Recover Password 
    // ============================================================== 
    $('#to-recover').on("click", function () {
      $("#loginform").slideUp();
      $("#recoverform").fadeIn();
    });
  </script>

</body>

</html>